@charset "utf-8";
/* CSS Document */

/*--------------   SITE NAME   --------------*/


/*============================================*/
/*--------------- BASE STYLES ----------------*/
/*============================================*/


body {
    font-size:100%;
    text-align: center;
    font-family:HelveticaNeue, Helvetica, Arial, sans-serif;
    text-align: center;
    color:#444;
    height: 100%;
    width: 100%;
}
.wrap {
    max-width: 1100px;
    padding:0 20px 0 45px;
    text-align: left;
    margin:auto;
}
#content {
    padding-top:120px;
    padding-bottom:60px;
}
aside {
    width: 28%;
    display:inline-block;
    margin-left:9%;
    vertical-align: top;
    margin-top:100px;
}


/*============================================*/
/*---------------- TYPOGRAPHY ----------------*/
/*============================================*/




@font-face {
    font-family: 'Bebas';
    src: url('../fonts/bebasneue_bold-webfont.eot');
    src: url('../fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_bold-webfont.woff') format('woff'),
         url('../fonts/bebasneue_bold-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_bold-webfont.svg#RalewayThin') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {

}
h2 {
    font-family:HelveticaNeue-CondensedBold, Bebas, Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color:#000;
    overflow: hidden;
    font-size: 1.4375rem;
    margin-left:-1.3em;
    margin-bottom:20px;
    letter-spacing: .02em;
    -webkit-font-smoothing: antialiased;
}

h3 {
    text-transform: uppercase;
    font-size: 1.15rem;
    font-weight: bold;
    margin-bottom:15px;
    letter-spacing: .02em;
    color:#000;
    -webkit-font-smoothing: antialiased;
}
h4 {
    font-size: .875rem;
    color:#000;
    margin-bottom:5px;
    font-weight: bold;
    text-transform: uppercase;
}
    h4 a {
        color:inherit;
        text-decoration: none;
    }
.box {
    height:.8em;
    background:#000;
    display:inline-block;
    width:.8em;
    margin-right:.5em;
}
p {
    font-size:.81rem;
    line-height: 1.4em;
    margin-bottom:30px;
}
ul {
    margin-bottom:20px;
}
li {
    list-style:outside;
    margin-left:20px;
    margin-bottom:10px;
    font-size:.81rem;
}
img {
    max-width: 100%;
    margin-bottom:20px;
}


/*============================================*/
/*------------------ LAYOUT ------------------*/
/*============================================*/



/*-------------------- NAV -------------------*/

#logo {
    float:left;
    margin-left:-40px;
    position: relative;
}
    .home #logo {
        display:none;
    }
    #logo div {
        position: absolute;
    }
.logo-1 {
    background:#000;
    height:2px;
    width:35px;
    top:12px;
    transform: perspective( 50px ) rotateY( 20deg ) rotateX( 30deg ) rotate(-10deg);
    -webkit-animation: logo-1 2s ease-in-out infinite;
}
.logo-2 {
    background:#000;
    height:4px;
    width:35px;
    top:15px;
    -webkit-animation: logo-2 2.5s ease-in-out infinite;
    transform: perspective( 50px ) rotateY( 20deg ) rotateX( 30deg ) rotate(-30deg);
}
.logo-3 {
    background:#000;
    height:2px;
    width:15px;
    left:10px;
    top:20px;
    -webkit-animation: logo-3 3s ease-in-out infinite;
    transform: perspective( 50px ) rotateY( 10deg ) rotateX( 40deg ) rotate(0deg);
}
.logo-4 {
    background:#000;
    height:1px;
    width:25px;
    top:20px;
    -webkit-animation: logo-4 1.5s ease-in-out infinite;
    transform: perspective( 50px ) rotateY( 45deg ) rotateX( 30deg ) rotate(20deg);
}
@-webkit-keyframes logo-1 {
    0%   {
        top:12px;
        transform: perspective( 50px ) rotateY( 20deg ) rotateX( 30deg ) rotate(-10deg);
    }
    50%  {
        top:18px;
        transform: perspective( 50px ) rotateY( 20deg ) rotateX( 30deg ) rotate(-30deg);

    }
    100% {
        top:12px;
        transform: perspective( 50px ) rotateY( 20deg ) rotateX( 30deg ) rotate(-10deg);
    }
}
@-webkit-keyframes logo-2 {
    0%   {
        top:10px;
        transform: perspective( 50px ) rotateY( 20deg ) rotateX( 30deg ) rotate(-20deg);
    }
    50%  {
        top:20px;
        transform: perspective( 50px ) rotateY( 20deg ) rotateX( 30deg ) rotate(0deg);

    }
    100% {
        top:10px;
        transform: perspective( 50px ) rotateY( 20deg ) rotateX( 30deg ) rotate(-20deg);
    }
}
@-webkit-keyframes logo-3 {
    0%   {
        top:25px;
        transform: rotate(10deg);    
    }
    50%  {
        top:15px;
        transform: rotate(40deg);

    }
    100% {
        top:25px;
        transform: rotate(10deg);
    }
}
@-webkit-keyframes logo-4 {
    0%   {
        top:20px;
        transform: rotate(20deg);    
    }
    50%  {
        top:15px;
        transform: rotate(0deg);

    }
    100% {
        top:20px;
        transform: rotate(20deg);
    }
}

#site-header {
    overflow: hidden;
    margin-bottom:60px;
    position: fixed;
    top:0px;
    width:100%;
    background: #FFF;
    background: rgba(255,255,255,.95);
    z-index: 100;
    box-shadow: 0px 1px 1px rgba(0,0,0,.1);
}
.home #site-header {
    position: absolute;
}
#site-header #wordmark {
    display:inline-block;
    font-family: HelveticaNeue-CondensedBold, Bebas, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.3rem;
    color:#000;
    float:left;
    margin-bottom:0;
    width:35%;
    margin-top:8px;
    cursor: pointer;
    margin-left:0;
    letter-spacing: inherit;
    -webkit-font-smoothing: antialiased;
}
    #site-header #wordmark a {
        color:inherit;
        text-decoration: none;
    }

    header #wordmark span {
        color:#D8D8D8;
        -webkit-transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        transition: all .5s ease-out;
    }
    #site-header #wordmark:hover span{
        color:#000;
    }
#site-nav {
    float:right;
    margin-bottom:0px;
}
    #site-nav ul {
        margin-bottom:0px;
        overflow: hidden;
    }
    #site-nav li {
        display:inline-block;
        padding:0;
        margin:0;
        width:90px;
        list-style: none;
        float: left;
        font-size:.875rem;
    }
        #site-nav li a {
            display:block;
            padding:10px;
            padding-bottom:6px;
            font-family: HelveticaNeue-CondensedBold, Bebas, Helvetica, Arial, sans-serif;
            color:#000;
            text-transform:uppercase;
            text-decoration: none;
            border-left:none;
            border-right:none;
            border-top:none;
            font-size: inherit;
            cursor: pointer;
            border-bottom:4px solid #FFF;
            -webkit-font-smoothing: antialiased;
        }
            #site-nav li .selected {
                border-bottom:4px solid #000;
            }
            #site-nav li a:hover {
                color:#FFF;
                border-bottom:4px solid #000;
            }


/*------------------- HOME -------------------*/

.home {
    overflow: hidden;
}
.home #tout{
    position: absolute;
}

.home-content {
    position: absolute;
    width:100%;
}
.home footer {
    display:none;
}
#project-gallery ul {
    border-bottom:1px solid #EAEAEA;
    margin-bottom:30px;
}


.project-list {
    padding-bottom:40px;
}

    .project-list li {
        width:30.5%;
        background:#FFF;
        margin-right:3%;
        margin-left:0;
        list-style: none;
        padding:0;
        display:inline-block;
        margin-bottom:20px;
        cursor: pointer;
        position: relative;
        padding:.5%;
        border:1px solid #EAEAEA;
        box-sizing:border-box;

    }
    .project-list .thumb-3, .project-list .thumb-6 {
        margin-right:0;
    }

.project-list li .live-area {
    overflow: hidden;
    width:100%;
    height: 100%;
    position: relative;
}
    .project-list li img {
        width:100%;
        position: relative;
        z-index: 1;
        top:0px;
        left:0px;
        margin-bottom:0;
    }
    .project-list li .overlay {
            background: #000;
            background:rgba(0,0,0,.93);
            width:100%;
            height: 100%;
            position: absolute;
            top:0px;
            left:120%;
            z-index: 2;
        }

        .project-list li  h4 {
            font-family: HelveticaNeue-CondensedBold, Helvetica, Arial, sans-serif;
            font-size: 1.65em;
            font-weight: normal;
            text-transform: uppercase;
            margin-bottom:60px;
            position: absolute;
            left:480px;
            top:40%;
            z-index: 10;
            width:280px;
            color:#FFF;
            -webkit-font-smoothing: antialiased;

        }
        .project-list li h5 {
            font-family: HelveticaNeue-CondensedBold, Helvetica, Arial, sans-serif;
            font-size:1.1em;
            color:#666666;
            margin-bottom:5px;
            text-transform: uppercase;
            -webkit-font-smoothing: antialiased;
        }
        .project-list li .project-meta {
            position: absolute;
            bottom:20px;
            left:580px;
            z-index: 11;
            width:280px;
            color:#FFF;
        }
        .project-list .project-link {
            position: absolute;
            top:0px;
            left:0px;
            height:100%;
            width:100%;
            z-index: 15;
        }


/*----------------- PROJECT ------------------*/


.project-page {
    overflow:hidden;
}
#project-slides {
    height:100%;
    overflow: hidden;
    margin:0;
    padding:0;
    opacity: 0;
}
#project-slides li{
    list-style: none;
    margin:0;
    padding:0;
    position: absolute;
    width:100%;
    left:0;
    top:0;
    overflow: hidden;
    height:100%;
}
    #project-slides li img {
        max-width: inherit;
    }
#project-info {
    position: absolute;
    right:0;
    background:#000;
    background:rgba(0,0,0,.95);
    padding:5px 20px 20px 20px;
    color:#939598;
    bottom:-100%;
    width:20%;
    text-align: left;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
    #project-info h1 {
        font-family:HelveticaNeue-CondensedBold, Bebas, Helvetica, Arial, sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        color:#FFF;
        overflow: hidden;
        margin-top:10px;
        font-size: 1.4375rem;
        margin-bottom:30px;
        color:#FFF;
        letter-spacing: .02em;
        -webkit-font-smoothing: antialiased;

    }

        #project-info h1 .box {
            background:#FFF;
        }
    #project-info p {
        margin-bottom:15px;
        color:#DDD;
    }
    #project-info h4 {
        font-size: .75rem;
        color:#444;
        font-weight: bold;
        text-transform: uppercase;
    }
    #project-info #related-projects {
        margin:0;
        padding:0;
    }
        #project-info #related-projects li {
            margin-left:0;
            list-style: none;
            margin-right:10px;
            margin-top:10px;
            width:25%;
            display:inline-block;
            border:1px solid #000;
        }
            #project-info #related-projects li img {
                width:100%;
                vertical-align: middle;
                margin-bottom:0px;
            }
                #project-info #related-projects li:hover {
                    border:1px solid #FFF;
                }

    .project-page #next-btn {
        position: absolute;
        right:0;
        top:0;
        width:50%;
        height:100%;
        cursor: pointer;
    }
    .project-page #prev-btn {
        position: absolute;
        left:0;
        top:0;
        width:50%;
        height:100%;
        cursor: pointer;
    }
#fancybox-outer {
    background:#000;
}


/*----------------- WRITING ------------------*/


.article-list li {
    list-style: none;
    margin-left:0;
    padding-left:0;
}
    .article-list .article-lead {
        margin-bottom:40px;
    }
        .article-list h2 a {
            text-decoration: none;
            color:inherit;
        }
#article-content {
    display:inline-block;
    max-width: 62%;
}
    #article-content img {
        max-width: 100%;
    }
.article-cover {
    margin-bottom:20px;
}
.book-list {
    border-bottom:1px solid #EAEAEA;
    margin-bottom:35px;
}
    .book-list li{
        list-style: none;
        margin-left:0;
        padding-left:0;
        margin-bottom:15px;
    }
        .book-list li img {
            display:inline-block;
            max-width: 35%;
            box-shadow: 0px 2px 4px rgba(0,0,0,.2);
            vertical-align: middle;
        }
        .book-list li .info {
            vertical-align: middle;
            display:inline-block;
            width:60%;
            margin-left:3%;
        }
.avatar {
    width:50px;
    display:inline-block;
    vertical-align: middle;
    margin-right:5px;
    margin-bottom:0;
}
.info {
    display:inline-block;
    vertical-align: middle;
}
.dropcap {
    display:inline-block;
    font-size:2.6rem;
    font-weight: bold;
    padding:18px 17px;
    margin-right:6px;
    margin-bottom:0px;
    background:#000;
    margin-top:-4px;
    color:#FFF;
    float:left;
    vertical-align: top;
    font-family:HelveticaNeue-CondensedBold;

}




/*----------------- ARTICLE ------------------*/


.article-page #article-title {
    font-family:HelveticaNeue-CondensedBold, Bebas, Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color:#000;
    overflow: hidden;
    font-size: 1.6375rem;
    margin-left:-1.3em;
    margin-bottom:20px;
    letter-spacing: .02em;
    -webkit-font-smoothing: antialiased;
}
    .article-page .article-cover {
        margin-bottom:60px;
    }

    .article-page aside {
        margin-top:0;
    }
.article-page blockquote {
    width:35%;
    font-size:1.1rem;
    padding-left:15px;
    padding-right:15px;
    border-left:4px solid #000;
    line-height: 1.1em;
    margin:12px;
    margin-left:-30px;
    margin-top:-2px;
    float:left;
    color:#000;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
}
.article-page .entry {
    padding-bottom:20px;
}
.article-page #article-content .share-links {
    display:block;
    padding-bottom:20px;
    border-bottom:1px solid #EAEAEA;
    margin-bottom:30px;
}
    .article-page .share-links h4 {
        display:inline-block;
        margin-right:10px;
    }
    .article-page .book-list {
        border:none;
    }
.article-page #comment-list {
    padding-top:20px;
    margin-bottom:40px;
}
    .article-page #comment-list li {
        list-style: none;
        margin-left:0;
        margin-bottom:30px;
    }
        .article-page #comment-list .meta {
            width:18%;
            display:inline-block;
            margin-right:5%;
            vertical-align: top;
            font-size: .75rem;
        }
        .article-page #comment-list .the-comment {
            width:75%;
            display:inline-block;
            font-size: .75rem;
            line-height: 1.4em;
            vertical-align: top;
        }
        .article-page #comment-list .name {
            font-size: .75rem;
            text-transform: uppercase;
            font-weight: bold;
            color:#000;
            margin-bottom:7px;
            vertical-align: top;
            line-height: 1em;
        }
    .article-page .add-comment {
        display:block;
        cursor: pointer;
        max-width: 300px;
        margin-left:auto;
        margin-right:auto;
    }
    .article-page #comment-form {
        border-top:1px solid #EAEAEA;
        margin-top:15px;
        width:100%;
        padding-top:30px;
        display:none;
    }
        .article-page #comment-form ul {
            margin-top:30px;
        }

.article-list img {
    margin-bottom:10px;
}


/*------------------ ABOUT -------------------*/

.find-me {
    padding-top:3px;
    margin-bottom:20px;
}
.find-me .avatar {
    height:45px;
    width:45px;
    margin-right:15px;
    float:left;
    margin-top:-3px;
    display:inline-block;
}
.social-media li {
    list-style: none;
    margin-left:0;
    margin-bottom:20px;
}
.social-media h4 {
    vertical-align: top;
    margin-top:5px;
}
.social-media p {
    margin-bottom:0;
}
.social-media a {
    float:left;
    margin-right:15px;
    margin-left:0 !important;
}
.about .pie-chart {
    width:40%;
    display:inline-block;
    vertical-align: top;
}
.about .abilities {
    width:59%;
    vertical-align: top;
    display:inline-block;
}
    .abilities h4 {
        margin-top:70px;
    }
    .abilities ul {
       margin-top:10px;
    }
    .abilities li {
        font-size:.81rem;
        list-style: none;
        margin-left:0px;
    }
    .abilities .bar-graph {
        background:#EAEAEA;
        height:8px;
        display:inline-block;
        width:70%;
        float:right;
        margin-top:3px;
    }
        .abilities .bar-graph .fill {
            background:#000;
            height:100%;
            width:70%;
        }
.about .pie {
    height:200px;
    width:200px;
    border-radius: 100px;
    border:1px solid #EAEAEA;
    margin-bottom:50px;
    margin-top:35px;
    position: relative;
    overflow: hidden;
}
    .about .pie #design {
        position:absolute;
        height:96px;
        width:96px;
        top:0;
        right:0;
        border:1px solid #000;
    }
    .about .pie #development {
        position:absolute;
        height:96px;
        width:96px;
        bottom:0;
        right:0;
        border:1px solid #EAEAEA;
    }
    .about .pie #writing {
        position:absolute;
        height:96px;
        width:96px;
        bottom:0;
        left:0;
        border:1px solid #EAEAEA;
    }
    .about .pie #illustration {
        position:absolute;
        height:96px;
        width:96px;
        top:0;
        left:0;
        border: 1px solid #EAEAEA;
    }
        .about .pie .selected {
            background: #000;
        }
        .about .pie .slice {
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
        }
            .about .pie .slice:hover {
                background:#EAEAEA;
                cursor: pointer;
            }





/*----------------- FOOTER -------------------*/

footer {
    border-top:1px solid #EAEAEA;
    padding:10px 0;
    color:#CCC;
    overflow: hidden;
    clear:both;
}
    footer p {
        font-size: .75rem;
        display:inline-block;
        vertical-align: middle;
        margin-top:15px;
        margin-bottom:0;
    }
    footer .share-links {
        display:inline-block;
        float:right;
        vertical-align: middle;
    }


/*============================================*/
/*------------------- FORMS ------------------*/
/*============================================*/

form {
    display:block;
}
form li {
    list-style: none;
    display:inline-block;
    margin-left:0;
    padding-left:0;
    display:block;
    margin-bottom:20px;
}
label {
    display:block;
    text-transform: uppercase;
    color:#000;
    font-weight: bold;
    margin-bottom:3px;
    font-size: .75rem;
}
input[type="text"], input[type="password"], input[type="number"], input[type="email"] {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border:none;
    outline: none;
    background:none;
    border:1px solid #EAEAEA;
    padding:1.5%;
    display:block;
    width:97%;
    font-size:.875rem;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

    /* Hover, focus, active states for ALL types of text inputs */
    input[type="text"]:hover, input[type="password"]:active, input[type="number"]:focus, input[type="email"]:hover {
        background:#EAEAEA;
    }
    input[type="text"]:active, input[type="text"]:focus, input[type="password"]:active, input[type="password"]:focus, input[type="number"]:active, input[type="number"]:focus, input[type="email"]:active, input[type="email"]:focus {
        background:#000;
        color:#EAEAEA;
}
input[type="submit"]{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border:none;
    outline: none;
    width:100%;
    display:inline-block;
    background:url(../images/button-bg.png) left top no-repeat;
    background-size:100% 100%;
    background-position: 0 75px;
    overflow: hidden;
    text-align: center;
    border:1px solid #EAEAEA;
    padding:10px 30px;
    display:inline-block;
    color:#000;
    font-weight: bold;
    font-size: .75rem;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1em;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
    input[type="submit"]:focus{
        background-position: 0 0;
        color:#FFF;
        border-color:#000;
    }
textarea {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border:none;
    outline: none;
    background:none;
    border:1px solid #EAEAEA;
    padding:1.5%;
    width:97%;
    display:block;
    min-height: 150px;
    font-size: .875rem;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
    textarea:hover {
        background: #EAEAEA;
    }
    textarea:focus, textarea:active {
        color:#FFF;
        background:#000;
    }

select {
    -ms-appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    margin:0px;
    margin-bottom:10px;
    padding:0px;
    appearance:none;
    outline: none;
    border: none;
    background: none;
}
    select:hover {

    }
.black-btn {
    display:inline-block;
    background:url(../images/button-bg.png) left top no-repeat;
    background-size:100% 100%;
    background-position: 0 75px;
    overflow: hidden;
    text-align: center;
    border:1px solid #EAEAEA;
    padding:10px 30px;
    display:inline-block;
    color:#000;
    font-weight: bold;
    font-size: .75rem;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1em;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
    .black-btn:hover {
        background-position: 0 0;
        color:#FFF;
        border-color:#000;
    }
.btn {
    border:1px solid #EAEAEA;
    padding:10px 30px;
    display:inline-block;
    color:#000;
    font-weight: bold;
    font-size: .75rem;
    text-decoration: none;
    text-transform: uppercase;
}
    .btn:hover {

    }
.share-links a {
    border:1px solid #EAEAEA;
    height:45px;
    width:45px;
    display:inline-block;
    margin-left:10px;
    overflow: hidden;
    text-indent: -5000px;
    background-size:45px 90px;
    background-position: center top;
    vertical-align: middle;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    cursor: pointer;
}
.share-links .twitter {
    background-image:url(../images/twitter-btn-bg.jpg);   
}
.share-links .facebook {
    background-image:url(../images/facebook-btn-bg.jpg);   
}
.share-links .dribbble {
    background-image:url(../images/dribbble-btn-bg.jpg);   
}
.share-links .github {
    background-image:url(../images/github-btn-bg.jpg);   
}
    .share-links a:hover {
        background-position: center bottom;
        border:1px solid #000;
    }


/*============================================*/
/*--------------- MEDIA QUERIES --------------*/
/*============================================*/


/*-------------- iPAD LANDSCAPE --------------*/

@media screen and (max-width: 1024px) {


}


/*--------------- iPAD PORTRAIT --------------*/

@media screen and (max-width: 768px) {


}


/*-------------- iPHONE PORTRAIT --------------*/


@media screen and (max-width: 320px) {


}






/*
-------------------------------------------------------------------
 ___ _   _ ___ _  _____   ___   _   _  _____   _      _   _  _____ 
| _ ) | | |_ _| ||_   _| / __| /_\ | ||_   _| | |    /_\ | |/ / __|
| _ \ |_| || || |__| |   \__ \/ _ \| |__| |   | |__ / _ \| ' <| _| 
|___/\___/|___|____|_|   |___/_/ \_\____|_|   |____/_/ \_\_|\_\___|

------------ OPERAM • FERVOR • SIMPLICITAS • INNOVATIO ------------

*/