@charset "utf-8";
/* CSS Document */

/*--------------   SITE NAME   --------------*/


/*============================================*/
/*--------------- BASE STYLES ----------------*/
/*============================================*/


body {
    font-size:100%;
    text-align: center;
    font-family:HelveticaNeue, Helvetica, Arial, sans-serif;
}
.wrap {
    width:960px;
    padding:0px 10px;
    text-align: left;
    margin:auto;
}



/*============================================*/
/*---------------- TYPOGRAPHY ----------------*/
/*============================================*/



/* Place Holder for @font-face
@font-face {
    font-family: 'Raleway';
    src: url('/static/fonts/raleway_thin-webfont.eot');
    src: url('/static/fonts/raleway_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/raleway_thin-webfont.woff') format('woff'),
         url('/static/fonts/raleway_thin-webfont.ttf') format('truetype'),
         url('/static/fonts/raleway_thin-webfont.svg#RalewayThin') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
h1 {

}
h2 {

}
h3 {

}
h4 {

}
p {
    font-size:.875em;
    line-height: 1.4em;
}
ul {

}
li {
    list-style:outside;
    margin-left:20px;
}


/*============================================*/
/*------------------ LAYOUT ------------------*/
/*============================================*/



/*-------------------- NAV -------------------*/





/*============================================*/
/*------------------- FORMS ------------------*/
/*============================================*/


input[type="text"], input[type="password"], input[type="number"], input[type="email"] {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border:none;
    outline: none;
    background:none;
}
    /* Hover, focus, active states for ALL types of text inputs */
    input[type="text"]:hover, input[type="text"]:active, input[type="text"]:focus, input[type="password"]:hover, input[type="password"]:active, input[type="password"]:focus, input[type="number"]:hover, input[type="number"]:active, input[type="number"]:focus, input[type="email"]:hover, input[type="email"]:active, input[type="email"]:focus {

}

select {
    -ms-appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    margin:0px;
    margin-bottom:10px;
    padding:0px;
    appearance:none;
    outline: none;
    border: none;
    background: none;
}
    select:hover {

    }



/*============================================*/
/*--------------- MEDIA QUERIES --------------*/
/*============================================*/


/*-------------- iPAD LANDSCAPE --------------*/

@media screen and (max-width: 1024px) {


}


/*--------------- iPAD PORTRAIT --------------*/

@media screen and (max-width: 768px) {


}


/*-------------- iPHONE PORTRAIT --------------*/


@media screen and (max-width: 320px) {


}






/*
-------------------------------------------------------------------
 ___ _   _ ___ _  _____   ___   _   _  _____   _      _   _  _____ 
| _ ) | | |_ _| ||_   _| / __| /_\ | ||_   _| | |    /_\ | |/ / __|
| _ \ |_| || || |__| |   \__ \/ _ \| |__| |   | |__ / _ \| ' <| _| 
|___/\___/|___|____|_|   |___/_/ \_\____|_|   |____/_/ \_\_|\_\___|

------------ OPERAM • FERVOR • SIMPLICITAS • INNOVATIO ------------

*/