@charset "utf-8";
/* CSS Document */

/*--------------   SITE NAME   --------------*/


/*============================================*/
/*--------------- BASE STYLES ----------------*/
/*============================================*/


body {
    font-size:100%;
    text-align: center;
    font-family:HelveticaNeue, Helvetica, Arial, sans-serif;
    text-align: center;
    color:#444;
}
.wrap {
    max-width: 1100px;
    padding:0px 10px;
    text-align: left;
    margin:auto;
}



/*============================================*/
/*---------------- TYPOGRAPHY ----------------*/
/*============================================*/




@font-face {
    font-family: 'Bebas';
    src: url('../fonts/bebasneue_bold-webfont.eot');
    src: url('../fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_bold-webfont.woff') format('woff'),
         url('../fonts/bebasneue_bold-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_bold-webfont.svg#RalewayThin') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {

}
h2 {
    font-family:HelveticaNeue-CondensedBold, Bebas, Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color:#000;
    overflow: hidden;
    font-size: 1.4375rem;
    margin-left:-1.3em;
    margin-bottom:20px;
    letter-spacing: .02em;
}
h3 {
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: bold;
    margin-bottom:5px;
    letter-spacing: .02em;
}
h4 {

}
.box {
    height:.8em;
    background:#000;
    display:inline-block;
    width:.8em;
    margin-right:.5em;
}
p {
    font-size:.81rem;
    line-height: 1.4em;
    margin-bottom:20px;
}
ul {
    margin-bottom:20px;
}
li {
    list-style:outside;
    margin-left:20px;
    margin-bottom:10px;
    font-size:.81rem;
}


/*============================================*/
/*------------------ LAYOUT ------------------*/
/*============================================*/



/*-------------------- NAV -------------------*/

#logo {
    float:left;
    margin-left:-40px;
    position: relative;
}
    .home #logo {

    }
    #logo div {
        position: absolute;
    }
.logo-1 {
    background:#000;
    height:2px;
    width:35px;
    top:12px;
    transform: perspective( 50px ) rotateY( 20deg ) rotateX( 30deg ) rotate(-10deg);
    -webkit-animation: logo-1 2s ease-in-out infinite;
}
.logo-2 {
    background:#000;
    height:4px;
    width:35px;
    top:15px;
    -webkit-animation: logo-2 2.5s ease-in-out infinite;
    transform: perspective( 50px ) rotateY( 20deg ) rotateX( 30deg ) rotate(-30deg);
}
.logo-3 {
    background:#000;
    height:2px;
    width:15px;
    left:10px;
    top:20px;
    -webkit-animation: logo-3 3s ease-in-out infinite;
    transform: perspective( 50px ) rotateY( 10deg ) rotateX( 40deg ) rotate(0deg);
}
.logo-4 {
    background:#000;
    height:1px;
    width:25px;
    top:20px;
    -webkit-animation: logo-4 1.5s ease-in-out infinite;
    transform: perspective( 50px ) rotateY( 45deg ) rotateX( 30deg ) rotate(20deg);
}
@-webkit-keyframes logo-1 {
    0%   {
        top:12px;
        transform: perspective( 50px ) rotateY( 20deg ) rotateX( 30deg ) rotate(-10deg);
    }
    50%  {
        top:18px;
        transform: perspective( 50px ) rotateY( 20deg ) rotateX( 30deg ) rotate(-30deg);

    }
    100% {
        top:12px;
        transform: perspective( 50px ) rotateY( 20deg ) rotateX( 30deg ) rotate(-10deg);
    }
}
@-webkit-keyframes logo-2 {
    0%   {
        top:10px;
        transform: perspective( 50px ) rotateY( 20deg ) rotateX( 30deg ) rotate(-20deg);
    }
    50%  {
        top:20px;
        transform: perspective( 50px ) rotateY( 20deg ) rotateX( 30deg ) rotate(0deg);

    }
    100% {
        top:10px;
        transform: perspective( 50px ) rotateY( 20deg ) rotateX( 30deg ) rotate(-20deg);
    }
}
@-webkit-keyframes logo-3 {
    0%   {
        top:25px;
        transform: rotate(10deg);    
    }
    50%  {
        top:15px;
        transform: rotate(40deg);

    }
    100% {
        top:25px;
        transform: rotate(10deg);
    }
}
@-webkit-keyframes logo-4 {
    0%   {
        top:20px;
        transform: rotate(20deg);    
    }
    50%  {
        top:15px;
        transform: rotate(0deg);

    }
    100% {
        top:20px;
        transform: rotate(20deg);
    }
}

#site-header {
    border-bottom:1px solid #CCC;
    overflow: hidden;
    margin-bottom:60px;
    position: fixed;
    top:0px;
    width:100%;
    background: #FFF;
    background: rgba(255,255,255,.93);
    z-index: 100;
}
.home #site-header {
    position: relative;
}
#site-header #wordmark {
    display:inline-block;
    font-family: HelveticaNeue-CondensedBold, Bebas, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.3rem;
    color:#000;
    float:left;
    width:25%;
    margin-top:8px;
}
    header #wordmark span {
        color:#D8D8D8;
    }
#site-nav {
    float:right;
    margin-bottom:0px;
}
    #site-nav ul {
        margin-bottom:0px;
        overflow: hidden;
    }
    #site-nav li {
        display:inline-block;
        padding:0;
        margin:0;
        width:90px;
        list-style: none;
        float: left;
        font-size:.875rem;
    }
        #site-nav li a {
            display:block;
            padding:10px;
            padding-bottom:6px;
            font-family: HelveticaNeue-CondensedBold, Bebas, Helvetica, Arial, sans-serif;
            color:#000;
            text-transform:uppercase;
            text-decoration: none;
            border-bottom:4px solid #FFF;
        }
            #site-nav li .selected {
                border-bottom:4px solid #000;
            }
            #site-nav li a:hover {
                color:#FFF;
                border-bottom:4px solid #000;
            }


/*------------------- HOME -------------------*/


#project-gallery ul {
    border-bottom:1px solid #CCC;
    margin-bottom:30px;
}


.project-list {
    padding-bottom:40px;
}

    .project-list li {
        width:32.8%;
        background:#EAEAEA;
        margin-right:.2%;
        margin-left:0;
        list-style: none;
        padding:0;
        display:inline-block;
        margin-bottom:5px;
        cursor: pointer;
        position: relative;
    }
    .project-list .thumb-3, .project-list .thumb-6 {
        margin-right:0;
    }
.project-list li .live-area {
    overflow: hidden;
    width:100%;
    height: 100%;
    position: relative;
}
    .project-list li img {
        width:100%;
        position: relative;
        z-index: 1;
        top:0px;
        left:0px;
    }
    .project-list li .overlay {
            background: #000;
            background:rgba(0,0,0,.9);
            width:100%;
            height: 100%;
            position: absolute;
            top:0px;
            left:120%;
            z-index: 2;
        }

        .project-list li  h4 {
            font-family: HelveticaNeue-CondensedBold, Helvetica, Arial, sans-serif;
            font-size: 1.65em;
            font-weight: normal;
            text-transform: uppercase;
            margin-bottom:60px;
            position: absolute;
            left:480px;
            top:40%;
            z-index: 10;
            width:280px;
            color:#FFF;

        }
        .project-list li h5 {
            font-family: HelveticaNeue-CondensedBold, Helvetica, Arial, sans-serif;
            font-size:1.1em;
            color:#666666;
            margin-bottom:5px;
            text-transform: uppercase;
        }
        .project-list li .project-meta {
            position: absolute;
            bottom:20px;
            left:580px;
            z-index: 11;
            width:280px;
            color:#FFF;
        }
        .project-list .project-link {
            position: absolute;
            top:0px;
            left:0px;
            height:100%;
            width:100%;
            z-index: 15;
        }





/*----------------- PROJECT ------------------*/


.project-page {
    overflow:hidden;
}
#project-slides {
    height:100%;
    overflow: hidden;
    margin:0;
    padding:0;
    display:none;
}
#project-slides li{
    list-style: none;
    margin:0;
    padding:0;
    position: absolute;
    width:100%;
    left:0;
    top:0;
    overflow: hidden;
    height:100%;
}
    #project-slides li img {
        width:100%;
    }
#project-info {
    position: absolute;
    right:0;
    background:#000;
    background:rgba(0,0,0,.95);
    padding:15px 45px 20px 45px;
    color:#939598;
    bottom:-100%;
    width:20%;
    text-align: left;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
    #project-info h1 {
        font-family:HelveticaNeue-CondensedBold, Bebas, Helvetica, Arial, sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        color:#FFF;
        overflow: hidden;
        margin-top:10px;
        font-size: 1.4375rem;
        margin-left:-1.3em;
        margin-bottom:40px;
        color:#FFF;
        letter-spacing: .02em;

    }

        #project-info h1 .box {
            background:#FFF;
        }
    #project-info h3 {
        color:#FFF;
    }
    #project-info #related-projects {
        margin:0;
        padding:0;
    }
        #project-info #related-projects li {
            margin-left:0;
            list-style: none;
            margin-right:10px;
            margin-top:10px;
            width:25%;
            display:inline-block;
            border:1px solid #000;
        }
            #project-info #related-projects li img {
                width:100%;
                vertical-align: middle;
            }
                #project-info #related-projects li:hover {
                    border:1px solid #FFF;
                }

    .project-page #next-btn {
        position: absolute;
        right:0;
        top:0;
        width:50%;
        height:100%;
        cursor: pointer;
    }
    .project-page #prev-btn {
        position: absolute;
        left:0;
        top:0;
        width:50%;
        height:100%;
        cursor: pointer;
    }
#fancybox-outer {
    background:#000;
}

/*============================================*/
/*------------------- FORMS ------------------*/
/*============================================*/


input[type="text"], input[type="password"], input[type="number"], input[type="email"] {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border:none;
    outline: none;
    background:none;
}
    /* Hover, focus, active states for ALL types of text inputs */
    input[type="text"]:hover, input[type="text"]:active, input[type="text"]:focus, input[type="password"]:hover, input[type="password"]:active, input[type="password"]:focus, input[type="number"]:hover, input[type="number"]:active, input[type="number"]:focus, input[type="email"]:hover, input[type="email"]:active, input[type="email"]:focus {

}

select {
    -ms-appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    margin:0px;
    margin-bottom:10px;
    padding:0px;
    appearance:none;
    outline: none;
    border: none;
    background: none;
}
    select:hover {

    }
.black-btn {
    display:block;
    background:url(../images/button-bg.png) left top no-repeat;
    background-size:100% 100%;
    background-position: 0 75px;
    overflow: hidden;
    text-align: center;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
    .black-btn:hover {
        background-position: 0 0;
        color:#FFF;
    }


/*============================================*/
/*--------------- MEDIA QUERIES --------------*/
/*============================================*/


/*-------------- iPAD LANDSCAPE --------------*/

@media screen and (max-width: 1024px) {


}


/*--------------- iPAD PORTRAIT --------------*/

@media screen and (max-width: 768px) {


}


/*-------------- iPHONE PORTRAIT --------------*/


@media screen and (max-width: 320px) {


}






/*
-------------------------------------------------------------------
 ___ _   _ ___ _  _____   ___   _   _  _____   _      _   _  _____ 
| _ ) | | |_ _| ||_   _| / __| /_\ | ||_   _| | |    /_\ | |/ / __|
| _ \ |_| || || |__| |   \__ \/ _ \| |__| |   | |__ / _ \| ' <| _| 
|___/\___/|___|____|_|   |___/_/ \_\____|_|   |____/_/ \_\_|\_\___|

------------ OPERAM • FERVOR • SIMPLICITAS • INNOVATIO ------------

*/