#tout {
	height:100%;
	width:100%;
}
#featured-projects {
	height:100%;
	width:100%;
	position: absolute;
	top:0;
	left:0;
}

#featured-projects li {
	list-style: none;
	position: absolute;
	width:70%;
	border:1px solid black;
	height:70%;
	margin:0;
}
.bar {
	background:#000;
	position: absolute;
}
.project-1 .ipad {
	width:60%;
	left:20%;
	top:20%;
	position: absolute;
}
.project-1 .bar1 {
	height:20px;
	width:40%;
}