#tout {
	height:100%;
	width:100%;
}
#featured-projects {
	height:100%;
	width:100%;
	position: absolute;
	top:0;
	left:0;
}

#featured-projects li {
	list-style: none;
	position: absolute;
	width:100%;
	height:80%;
	top:10%;
	margin:0;
	-webkit-perspective: 1200px;
}
.shadow {
	background:#F2F2F2;
    box-shadow:0px 0px 75px #E5E5E5;
    position: absolute;
}
.bar {
	background:#000;
	position: absolute;
}
#featured-projects .background {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
.background .bar {
	background:#EAEAEA;
	border-radius: 6px;
	-webkit-filter: blur(5px);
  	-moz-filter: blur(5px);
  	-o-filter: blur(5px);
  	-ms-filter: blur(5px);
  	filter: blur(5px);
}
.middleground .bar {
	background:#999;
	border-radius: 3px;
	box-shadow:0 0 10px #999;
	-webkit-filter: blur(3px);
  	-moz-filter: blur(3px);
  	-o-filter: blur(3px);
  	-ms-filter: blur(3px);
  	filter: blur(3px);
}
.project-1 .ipad {
	width:50%;
	left:25%;
	top:10%;

	position: absolute;
	z-index: 10;
	-webkit-animation: float-two 3s ease-in-out infinite;
}
.project-1 .bar2 {
	height:30px;
	width:25%;
	top:40%;
	z-index: 6;
	left:20%;
	-webkit-transform: rotateY(40deg) rotateX(60deg) rotateZ(-20deg);
	-webkit-animation: float-three 3s ease-in-out infinite;
}
.project-1 .bar6 {
	height:4px;
	width:25%;
	top:35%;
	left:55%;
	-webkit-transform: rotateY(33deg) rotateX(10deg) rotateZ(30deg);
	-webkit-animation: float-one 2s ease-in-out infinite;
	z-index: 30;
}
.project-1 .bar3 {
	height:10px;
	width:35%;
	top:65%;
	left:10%;
	-webkit-transform: rotateY(75deg) rotateX(10deg) rotateZ(45deg);
	-webkit-animation: float-three 2s ease-in-out infinite;
	z-index:4;
}
.project-1 .bar5 {
	height:20px;
	width:20%;
	top:60%;
	left:60%;
	-webkit-transform: rotateY(35deg) rotateX(30deg) rotateZ(-5deg);
	-webkit-animation: float-one 2s ease-in-out infinite;
	z-index:40;
}
.project-1 .bar4 {
	height:10px;
	width:20%;
	top:60%;
	left:50%;
	-webkit-transform: rotateY(35deg) rotateX(30deg) rotateZ(15deg);
	-webkit-animation: float-two 3.2s ease-in-out infinite;
	z-index:20;
}
.project-1 .bar1 {
	height:3px;
	width:10%;
	top:55%;
	left:10%;
	-webkit-transform: rotateY(45deg) rotateX(50deg) rotateZ(-15deg);
	z-index:3;
	-webkit-animation: float-one 3s ease-in-out infinite;
}
.project1-shadow {
	width:30%;
	height:60%;
	border-radius: 20px;
	z-index: 1;
	top:30%;
	left:40%;
	-webkit-animation: float-two 3s ease-in-out infinite;
	-webkit-transform: rotateY(0deg) rotateX(0deg) rotateZ(20deg);
}
.background .bar1 {
	width:10%;
	height:2%;
	top:40%;
	left:20%;
	-webkit-animation: float-three 3s ease-in-out infinite;
	-webkit-transform: rotateY(5deg) rotateX(0deg) rotateZ(15deg);
}
.background .bar2 {
	width:7%;
	height:1%;
	top:45%;
	right:20%;
	-webkit-animation: float-two 3s ease-in-out infinite;
	-webkit-transform: rotateY(15deg) rotateX(10deg) rotateZ(30deg);
}
.background .bar3 {
	width:8%;
	height:.5%;
	top:55%;
	left:5%;
	-webkit-animation: float-two 3s ease-in-out infinite;
	-webkit-transform: rotateY(25deg) rotateX(5deg) rotateZ(3deg);
}
.background .bar4 {
	width:10%;
	height:.5%;
	top:50%;
	left:50%;
	-webkit-animation: float-two 3s ease-in-out infinite;
	-webkit-transform: rotateY(5deg) rotateX(5deg) rotateZ(-25deg);
}
.background .bar5 {
	width:8%;
	height:.3%;
	top:48%;
	left:45%;
	-webkit-animation: float-three 3s ease-in-out infinite;
	-webkit-transform: rotateY(3deg) rotateX(14deg) rotateZ(-10deg);
}
.background .bar6 {
	width:12%;
	height:.5%;
	top:55%;
	right:5%;
	-webkit-animation: float-one 3s ease-in-out infinite;
	-webkit-transform: rotateY(15deg) rotateX(15deg) rotateZ(6deg);
}
.background .bar7 {
	width:12%;
	height:.2%;
	top:50%;
	right:1%;
	-webkit-animation: float-three 3s ease-in-out infinite;
	-webkit-transform: rotateY(5deg) rotateX(20deg) rotateZ(16deg);
}
.background .bar8 {
	width:20%;
	height:.3%;
	top:55%;
	left:2%;
	-webkit-animation: float-two 3s ease-in-out infinite;
	-webkit-transform: rotateY(15deg) rotateX(5deg) rotateZ(-16deg);
}
.background .bar9 {
	width:8%;
	height:1%;
	top:55%;
	right:45%;
	-webkit-animation: float-one 3s ease-in-out infinite;
	-webkit-transform: rotateY(0deg) rotateX(35deg) rotateZ(6deg);
}
.background .bar10 {
	width:8%;
	height:.5%;
	top:55%;
	left:35%;
	-webkit-animation: float-two 3s ease-in-out infinite;
	-webkit-transform: rotateY(0deg) rotateX(35deg) rotateZ(36deg);
}
.background .bar11 {
	width:8%;
	height:1%;
	top:50%;
	right:55%;
	-webkit-animation: float-three 3s ease-in-out infinite;
	-webkit-transform: rotateY(30deg) rotateX(15deg) rotateZ(10deg);
}
.background .bar12 {
	width:8%;
	height:.5%;
	top:50%;
	left:25%;
	-webkit-animation: float-three 3s ease-in-out infinite;
	-webkit-transform: rotateY(20deg) rotateX(55deg) rotateZ(-36deg);
}
.middleground .bar1 {
	width:15%;
	height:1.5%;
	top:60%;
	left:25%;
	-webkit-animation: float-three 3s ease-in-out infinite;
	-webkit-transform: rotateY(20deg) rotateX(55deg) rotateZ(-36deg);
}
.middleground .bar2 {
	width:12%;
	height:0.5%;
	top:40%;
	right:25%;
	-webkit-animation: float-one 3s ease-in-out infinite;
	-webkit-transform: rotateY(20deg) rotateX(0deg) rotateZ(-30deg);
}
.middleground .bar3 {
	width:12%;
	height:.2%;
	top:45%;
	right:5%;
	-webkit-animation: float-one 3s ease-in-out infinite;
	-webkit-transform: rotateY(50deg) rotateX(50deg) rotateZ(20deg);
}
.middleground .bar4 {
	width:25%;
	height:.1%;
	top:45%;
	left:2%;
	-webkit-animation: float-two 3s ease-in-out infinite;
	-webkit-transform: rotateY(30deg) rotateX(30deg) rotateZ(20deg);
}
.middleground .bar5 {
	width:12%;
	height:.5%;
	top:55%;
	left:32%;
	-webkit-animation: float-three 3s ease-in-out infinite;
	-webkit-transform: rotateY(30deg) rotateX(30deg) rotateZ(-10deg);
}
.middleground .bar6 {
	width:30%;
	height:.2%;
	top:55%;
	right:20%;
	-webkit-animation: float-two 3s ease-in-out infinite;
	-webkit-transform: rotateY(30deg) rotateX(30deg) rotateZ(0deg);
}
.middleground .bar7 {
	width:23%;
	height:.3%;
	top:55%;
	left:1%;
	-webkit-animation: float-two 3s ease-in-out infinite;
	-webkit-transform: rotateY(50deg) rotateX(50deg) rotateZ(-5deg);
}
.middleground .bar8 {
	width:30%;
	height:.2%;
	top:55%;
	right:20%;
	-webkit-animation: float-three 3s ease-in-out infinite;
	-webkit-transform: rotateY(30deg) rotateX(30deg) rotateZ(0deg);
}
.middleground .bar9 {
	width:5%;
	height:.6%;
	top:55%;
	right:1%;
	-webkit-animation: float-three 3s ease-in-out infinite;
	-webkit-transform: rotateY(60deg) rotateX(30deg) rotateZ(-20deg);
}


@-webkit-keyframes float-one {
    0%   {
        margin-top:0px;
    }
    50%  {
        margin-top:10px;
    }
    100% {
        margin-top:0px;
    }
}
@-webkit-keyframes float-two {
    0%   {
        margin-top:0px;
    }
    50%  {
        margin-top:12px;
    }
    100% {
        margin-top:0px;
    }
}
@-webkit-keyframes float-three {
    0%   {
        margin-top:0px;
    }
    50%  {
        margin-top:5px;
    }
    100% {
        margin-top:0px;
    }
}