body {
    background:#FFF;
}
#load-wrapper {
    height:150px;
    width:150px;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    margin-top:30%;
    text-align: center;
    color:#000;
}
.loading {
    font-family:HelveticaNeue-CondensedBold, Helvetica, Arial, sans-serif;
    font-size:14px;
    text-transform: uppercase;
    font-weight: normal;
}
#animation-block {
    position: relative;
    height:60px;
    width:60px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective: 600px;
}
.bar1 {
    width:40px;
    height:8px;
    background:#000;
    position:absolute;
    top:0px;
    left:20px;
    -webkit-animation: bar1 1.8s linear infinite;
    -moz-animation: bar1 1.8s linear infinite;
    animation: bar1 1.8s linear infinite;
}
.bar2 {
    width:25px;
    height:2px;
    background:#000;
    position:absolute;
    top:0px;
    left:20px;
    -webkit-animation: bar2 1.8s linear infinite;
    -moz-animation: bar2 1.8s linear infinite;
    animation: bar2 1.8s linear infinite;
}

.bar3 {
    width:30px;
    height:1px;
    background:#000;
    position:absolute;
    top:0px;
    left:20px;
    -webkit-animation: bar3 1.8s linear infinite;
    -moz-animation: bar3 1.8s linear infinite;
    animation: bar3 1.8s linear infinite;
}

@-webkit-keyframes bar1 {
        0% {
            top:10px;
            left:15px;
            height:8px;
            -webkit-transform: rotateX( 0deg ) rotate(3deg);
                }
        15% {
            top:13px;
            left:18px;
            -webkit-transform: rotateX( 20deg ) rotate(60deg);
                }
        25% {
            top:25px;
            left:25px;
        }

        50% {
            top:50px;
            left:10px;
            height:4px;
            -webkit-transform: rotateX( 50deg ) rotate(180deg);
        }
        75% {
            left:0px;
            top:28px;
            
        }
        85% {
            top:15px;
            left:5px;
            -webkit-transform: rotateX( 20deg ) rotate(340deg);
                }

        100% {
            top:10px;
            left:15px;
            height: 8px;
            -webkit-transform: rotateX( 0deg ) rotate(363deg);
                }
}

@-webkit-keyframes bar2 {
        0% {
            top:10px;
            left:15px;
            -webkit-transform: rotateX( 0deg ) rotate(13deg);
                }
        15% {
            top:20px;
            left:25px;
            -webkit-transform: rotateX( 0deg ) rotate(70deg);
                }
        35% {
            top:35px;
            left:15px;
        }

        50% {
            top:45px;
            left:5px;
            
            -webkit-transform: rotateX( 0deg ) rotate(210deg);
        }

        85% {
            top:15px;
            left:5px;
            width:35px;
            -webkit-transform: rotateX( 0deg ) rotate(320deg);
                }

        100% {
            top:10px;
            left:15px;
            -webkit-transform: rotateX( 0deg ) rotate(373deg);
                }
}


@-webkit-keyframes bar3 {
        0% {
            top:-1px;
            left:15px;
            width:30px;
            -webkit-transform: rotateX( 0deg ) rotate(30deg);
                }
        15% {
            top:15px;
            left:27px;
            -webkit-transform: rotateX( 20deg ) rotate(60deg);
                }
        25% {
            top:35px;
            left:25px;
        }

        50% {
            top:55px;
            left:10px;
            width:20px;
            -webkit-transform: rotateX( 50deg ) rotate(220deg);
        }
        75% {
            left:0px;
            top:35px;
        }
        85% {
            top:15px;
            left:5px;
            -webkit-transform: rotateX( 20deg ) rotate(360deg);
                }

        100% {
            top:-1px;
            left:15px;
            width:30px;
            -webkit-transform: rotateX( 0deg ) rotate(390deg);
                }
}



@-moz-keyframes bar1 {
        0% {
            top:10px;
            left:15px;
            height:8px;
            -moz-transform: rotateX( 0deg ) rotate(3deg);
                }
        15% {
            top:13px;
            left:18px;
            -moz-transform: rotateX( 20deg ) rotate(60deg);
                }
        25% {
            top:25px;
            left:25px;
        }

        50% {
            top:50px;
            left:10px;
            height:4px;
            -moz-transform: rotateX( 50deg ) rotate(180deg);
        }
        75% {
            left:0px;
            top:28px;
            
        }
        85% {
            top:15px;
            left:5px;
            -moz-transform: rotateX( 20deg ) rotate(340deg);
                }

        100% {
            top:10px;
            left:15px;
            height: 8px;
            -moz-transform: rotateX( 0deg ) rotate(363deg);
                }
}

@-moz-keyframes bar2 {
        0% {
            top:10px;
            left:15px;
            -moz-transform: rotateX( 0deg ) rotate(13deg);
                }
        15% {
            top:20px;
            left:25px;
            -moz-transform: rotateX( 0deg ) rotate(70deg);
                }
        35% {
            top:35px;
            left:15px;
        }

        50% {
            top:45px;
            left:5px;
            
            -moz-transform: rotateX( 0deg ) rotate(210deg);
        }

        85% {
            top:15px;
            left:5px;
            width:35px;
            -moz-transform: rotateX( 0deg ) rotate(320deg);
                }

        100% {
            top:10px;
            left:15px;
            -moz-transform: rotateX( 0deg ) rotate(373deg);
                }
}


@-moz-keyframes bar3 {
        0% {
            top:-1px;
            left:15px;
            width:30px;
            -moz-transform: rotateX( 0deg ) rotate(30deg);
                }
        15% {
            top:15px;
            left:27px;
            -moz-transform: rotateX( 20deg ) rotate(60deg);
                }
        25% {
            top:35px;
            left:25px;
        }

        50% {
            top:55px;
            left:10px;
            width:20px;
            -moz-transform: rotateX( 50deg ) rotate(220deg);
        }
        75% {
            left:0px;
            top:35px;
        }
        85% {
            top:15px;
            left:5px;
            -moz-transform: rotateX( 20deg ) rotate(360deg);
                }

        100% {
            top:-1px;
            left:15px;
            width:30px;
            -moz-transform: rotateX( 0deg ) rotate(390deg);
                }
}


@keyframes bar1 {
        0% {
            top:10px;
            left:15px;
            height:8px;
            transform: rotateX( 0deg ) rotate(3deg);
                }
        15% {
            top:13px;
            left:18px;
            transform: rotateX( 20deg ) rotate(60deg);
                }
        25% {
            top:25px;
            left:25px;
        }

        50% {
            top:50px;
            left:10px;
            height:4px;
            transform: rotateX( 50deg ) rotate(180deg);
        }
        75% {
            left:0px;
            top:28px;
            
        }
        85% {
            top:15px;
            left:5px;
            transform: rotateX( 20deg ) rotate(340deg);
                }

        100% {
            top:10px;
            left:15px;
            height: 8px;
            transform: rotateX( 0deg ) rotate(363deg);
                }
}

@keyframes bar2 {
        0% {
            top:10px;
            left:15px;
            transform: rotateX( 0deg ) rotate(13deg);
                }
        15% {
            top:20px;
            left:25px;
            transform: rotateX( 0deg ) rotate(70deg);
                }
        35% {
            top:35px;
            left:15px;
        }

        50% {
            top:45px;
            left:5px;
            
            transform: rotateX( 0deg ) rotate(210deg);
        }

        85% {
            top:15px;
            left:5px;
            width:35px;
            transform: rotateX( 0deg ) rotate(320deg);
                }

        100% {
            top:10px;
            left:15px;
            transform: rotateX( 0deg ) rotate(373deg);
                }
}


@keyframes bar3 {
        0% {
            top:-1px;
            left:15px;
            width:30px;
            transform: rotateX( 0deg ) rotate(30deg);
                }
        15% {
            top:15px;
            left:27px;
            transform: rotateX( 20deg ) rotate(60deg);
                }
        25% {
            top:35px;
            left:25px;
        }

        50% {
            top:55px;
            left:10px;
            width:20px;
            transform: rotateX( 50deg ) rotate(220deg);
        }
        75% {
            left:0px;
            top:35px;
        }
        85% {
            top:15px;
            left:5px;
            transform: rotateX( 20deg ) rotate(360deg);
                }

        100% {
            top:-1px;
            left:15px;
            width:30px;
            transform: rotateX( 0deg ) rotate(390deg);
                }
}

